.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

form {
    width: 650px;
}

input {
    width: 100%;
    box-sizing: border-box;
}